tests/resources/Mend_Validate_XmlTest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/Mend_Validate_XmlTest" xmlns:tns="http://www.example.org/Mend_Validate_XmlTest" elementFormDefault="qualified">

    <element name="mend" type="tns:MendType"></element>



    <complexType name="MendType">
    	<sequence>
    		<element name="validate" type="tns:ValidateType"></element>
    	</sequence>
    </complexType>

    <complexType name="ValidateType">
    	<sequence>
    		<element name="xml" type="string" nillable="true"></element>
    	</sequence>
    </complexType>
</schema>